<html>
    <head>
        <title>{{title}}</title>
        <script src="/js/Matrix.js"></script>
        <script src="/js/CreateState.js"></script>
    </head>
    <body>
        <h1>{{path}}</h1>
        <h3>{{title}}</h3>
        <code id="data"></code>
        <script>
            CreateState.update("{{path}}")
            (function(node){
                let value = node.get();
                if(typeof value === 'function'){
                    value = value.source;
                    value = value.toString();
                    let args = value.slice(value.indexOf('(') + 1);
                    args = args.slice(0, args.indexOf(')')-1);
                    value = 'function(' + args + value.slice(value.indexOf(')'));
                } 
                document.getElementById('data').textContent = value + '';
            });
        </script>
    </body>
</html>